[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {ref = "rewrite", git = "https://github.com/Rapptz/discord.py"}
randomcolor = "*"
emoji = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.6"
